body {
  margin: 0;
  padding: 0;
  background-color: #000; 
  font-family: 'Permanent Marker', cursive;
  color: white; 
  overflow-x: hidden; 
}

.left-corner-image {
  position: absolute; 
  top: 1%; 
  left: 1%; 
  width: 18.5vw; 
  height: auto; 
  z-index: 1100; 
}

.right-corner-image {
  position: absolute;
  top: 0%; 
  right: 1%; 
  width: 10.5vw;
  height: auto; 
  z-index: 1100; 
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4vw;
}

.buttons {
  display: flex;
  gap: 2vw;
  padding-left: 15vw;  
  padding-right: 15vw; 
}

.button {
  text-decoration: none;
  color: white;
  font-size: 3.9vw; 
  padding: 1vw 2vw; 
  transition: color 0.3s ease;
}

.button:hover {
  color: #ff6f61; 
}

main {
  margin-top: 6vw;
  padding: 2vw;
}

.top-container {
  width: 100%;
  padding: 3vw 0;
  position: relative;
  background: rgba(0, 0, 0, 0.8); 
}

.top-content {
  text-align: center;
}

.content {
  min-height: 200vh;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-container {
  text-align: center;
  margin-top: -55vw;
}

.center-image {
  max-width: 50%;
  height: auto;
}

.center-text {
  font-size: 2.5vw;
  margin-top: 1vw;
}

.ryodantext {
  font-size: 1vw;
  margin-top: -0.5vw;
}

.bottom-image {
  position: absolute;
  top: 120%; 
  left: 0;
  width: 100%;
  height: auto; 
  z-index: 900; 
}


@media (max-width: 768px) {
  .left-corner-image, .right-corner-image {
    width: 20vw; 
  }

  .buttons {
    padding-left: 10vw;  
    padding-right: 10vw;
  }

  .button {
    font-size: 4vw; 
    padding: 1vw 2vw;
  }

  .center-text {
    font-size: 4vw;
  }
}


@media (max-width: 1px) {
  .left-corner-image, .right-corner-image {
    width: 25vw;  
  }

  .buttons {
    padding-left: 5vw;  
    padding-right: 5vw;
  }

  .button {
    font-size: 5vw; 
    padding: 2vw 4vw;
  }

  .center-text {
    font-size: 5vw;  
  }

  .center-container {
    margin-top: -40vw;  
  }

  .bottom-image {
    top: 130%; 
  }
}
