body {
  margin: 0;
  padding: 0;
  background-color: #000; 
  font-family: 'Permanent Marker', cursive;
  color: white; 
  overflow-x: hidden; 
}


.left-corner-image {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  width: 250px; 
  height: auto; 
  z-index: 1100; 
}

.right-corner-image {
  position: absolute;
  top: 0px; 
  right: 10px; 
  width: 150px;
  height: auto; 
  z-index: 1100; 
}


.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.buttons {
  display: flex;
  gap: 25px; 
}

.button {
  text-decoration: none;
  color: white;
  font-size: 56px; 
  padding: 10px 20px; 
  transition: color 0.3s ease;
}

.button:hover {
  color: #ff6f61; 
}

main {
  margin-top: 120px; 
  padding: 20px; 
}

.top-container {
  width: 100%;
  padding: 60px 0;
  position: relative;
  background: rgba(0, 0, 0, 0.8); 
}

.top-content {
  text-align: center;
}

.content {
  min-height: 200vh; 
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-container {
  text-align: center;
  margin-top: -1000px; 
}

.center-image {
  max-width: 50%;
  height: auto;
}

.center-text {
  font-size: 48px;
  margin-top: 10px;
}

.ryodantext {
  font-size: 19px;
  margin-top: -10px; 
}

.bottom-image {
  position: absolute;
  top: 120%; 
  left: 0;
  width: 100%;
  height: auto; 
  z-index: 900; 
}


@media (max-width: 768px) {
  .left-corner-image, .right-corner-image {
    width: 150px; 
  }

  .button {
    font-size: 32px; 
    padding: 5px 10px;
  }

  .center-text {
    font-size: 32px; 
  }
}

@media (max-width: 480px) {
  .left-corner-image, .right-corner-image {
    width: 100px;  
  }

  .button {
    font-size: 24px; 
    padding: 5px 10px;
  }

  .center-text {
    font-size: 24px;  
  }

  .center-container {
    margin-top: -800px;  
  }

  .bottom-image {
    top: 130%; 
  }
}
